$color-black: rgb(33, 33, 33);
$color-grey: rgb(128, 128, 128);
$color-medium-grey: rgb(160, 160, 160);
$color-light-grey: rgb(200, 200, 200);
$color-very-light-grey: rgb(220, 220, 220);
$color-very-very-light-grey: rgb(240, 240, 240);
$color-extremely-light-grey: rgb(250, 250, 250);
$color-white: rgb(255, 255, 255);
